*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.loading
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: rgb(132, 236, 241);
    animation: anibg 3s linear infinite;


}

.loading .box
{
    
    height: 50px;
    width: 50px;
    /* border: 2px solid black; */
    /* background: red; */
}
.loading .box .move
{
     position: relative ;
    height: 40px;
    width: 40px;
    /* border: 2px solid  rgb(255, 4, 4); */
    border-radius: 10%;
     

    animation: example 3s linear infinite;
    


}

@keyframes example {
    0% {
        background-color: rgb(255, 0, 0);
        /* box-shadow: 0 0 0 5px rgb(255, 0, 0); ; */
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: rgb(230, 0, 255);
        left: 0px;
        top: 50px;
    }
    
    50% {
        background-color: rgb(14, 14, 233);
        left: 50px;
        top: 50px;
    }

    75% {
        background-color: rgb(167, 2, 255);
        left: 50px;
        top: 0px;
    }

    100% {
        background-color: rgb(200, 255, 0);
        left: 0px;
        top: 0px;
    }
}
     
